{% block sidebar %}

<style>
  .card {
    box-shadow: 0 16px 48px #e3e7eb;
  }
</style>

<!-- Sidebar Widgets Column -->
<div class="col-md-4 float-right">
  <div class="card my-4">
    <h5 class="card-header">About Us</h5>
    <div class="card-body">
      <p class="card-text">Useful Links</p>
      <div class="card-content">
        <ul class="justify-content-center">
          <div class="text center">
            <a href="/blog/blogs">Blogs </a>
          </div>
        </ul>
      </div>
    </div>
  </div>
</div>

{% endblock sidebar %}
